*{
  margin: 0;
  padding: 0;  
}
.welcome{
  display: flex;
  /* width: 70%; */
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("img/dirt.jpeg");
  font-size: 30px;
}
.welcome button{
  margin: 20px;
  height: 10%;
  background-color: white;
  color: black;
  font-weight: bold;
}
.page{
  display: flex;
  align-items: space-around;
}
.toolsBar{
  background-color: black;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
button{
  padding: 2px;
  max-height: 15%;
  width: 22%;
  background: transparent;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
}
.button img {
  pointer-events: none;
}
.tool img{
  height: 70%;
  width: 90%;
}
.tool:hover{
  border: 1px solid blue;
  background-color: blue;
}
.selectedTool{
  background-color: blue;
  border: 1px solid blue;
}
.selectedTool img{
  height: 70%;
  width: 90%;
}
div:hover{
  border: 1px solid white;
}

.main{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.container{
  box-sizing: border-box;
  display: grid;
  height: 100vmin;
  width: 100vmin;
}

.sky{
  background-color: rgb(162, 211, 227);
}

.dirt{
  background-image: url("img/dirt.jpeg");
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.tree{
  background-image: url("img/treeleaves.jpeg");
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.treeBase{
  background-image: url("img/treeBase.jpeg");
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.grass{
  background-image: url("img/grass.jpeg");
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.stone{
  background-image: url("img/stone.jpeg");
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wrongTool{
  background-color: red;
}